{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la page Particulier{% endblock %}

{% block body %}
<div class='formParticulier' style='text-align: center'>
<h2>Bienvenue sur la page particulier</h2>
{{form(formParticulier)}}
{# {{form_start(formParticulier)}}
{{form_row(formParticulier.surname)}}
{{form_row(formParticulier.name)}}
{{form_row(formParticulier.email)}}
{{form_row(formParticulier.password)}}
{{form_row(formParticulier.confirm_password)}}
{{form_row(formParticulier.save)}} #}
</div>
{% endblock %}
